<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventurer-attack3-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-attack3-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,37},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-attack3-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,74},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-attack3-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,111},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-attack3-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,148},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-attack3-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,185},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack3sheet.png</string>
            <key>size</key>
            <string>{50,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef9e5c2c0e968bda080f17bf6e3db3d:241905b36ca8f91b3c85c94d200e36df:0676a65997ccd0a9e38c5bead814ca49$</string>
            <key>textureFileName</key>
            <string>attack3sheet.png</string>
        </dict>
    </dict>
</plist>
