<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventurer-idle-2-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-idle-2-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-idle-2-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventurer-idle-2-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,37}</string>
                <key>spriteSourceSize</key>
                <string>{50,37}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idlesheet.png</string>
            <key>size</key>
            <string>{200,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7d91f5dbaa80685ffb76ccbf9c56066:78e2840623782e22f2ce4895c92cbcee:061ef91883b1683281b597ad6c957016$</string>
            <key>textureFileName</key>
            <string>idlesheet.png</string>
        </dict>
    </dict>
</plist>
